@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "franchise";
    src: url("../fonts/Franchise-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Franchise-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Franchise-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Franchise-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Franchise-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Franchise-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Franchise-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Times New Roman", Times, serif;
    color: #FFF;
   /* font-family: "franchise", serif;*/
}

.font-family{
    font-family: 'Calistoga', cursive;
    word-spacing: 0.2rem;
    letter-spacing: 0.06rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
figure{
    margin: 0;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
#wrapper{
    background-color: #ffcc01;
    padding-top: 20px;
}

header{
    background-color: #ffcc01;
}
header #top-header .nav-link{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
header #top-header .nav{
    padding-top: 2rem;
}
header .navbar{
    box-shadow: none;
}
header .navbar .fa-bars{
    font-size: 1.8rem;
}

header .navbar .navbar-nav .nav-link{
    padding-left: 10px;
    font-size: 1.1rem;
}

/*Style for Home page*/
.franchise{
    font-family: "franchise", sans-serif;
}

#wrapper section{
    padding-top: 10rem;
    padding-bottom: 32rem;
}

#wrapper .franchise{
    padding-top: 1rem;
    padding-bottom: 32rem;
}

/*#wrapper section h1{
    text-transform: uppercase;
    color: #000;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
#wrapper section p{
    color: #000;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}*/

#advisory-lawyers{
    background-color: #033220;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #083926;
    font-size: 1.2rem;
    color: #fff;
}

/*Style for About the Forum Page*/

#breadcrumb .breadcrumb{
    background-color: transparent;
}
#advisory-lawyers #breadcrumb .breadcrumb{
    font-size: 1.2rem;
    padding: 0;
}
#advisory-lawyers #breadcrumb .breadcrumb a{
    color: #adb4ff;
}
#advisory-lawyers #breadcrumb .breadcrumb .breadcrumb-item.active{
    color: #fff;
}
#advisory-lawyers #breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before{
    content: ">";
    color: #fff;
}

#advisory-lawyers #about-the-forum .about-the-forum-heading {
    margin-top: 5rem;
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}

#advisory-lawyers #about-the-forum p{
    font-size: 1.2rem;
    line-height: 2rem;

}
#advisory-lawyers #about-the-forum ul{
    padding-left: 15px;
}
#advisory-lawyers #about-the-forum ul li{
    font-size: 1.1rem;

}


/*Style for Governance page*/
.card-body{
    background-color: #033220;
}

.card-body h4{
    font-size: 1.3rem;
}




/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 350.99px) {
    html{
        font-size: 0.6rem;
    }
    #wrapper section{
        padding-top: 11rem;
    }
    #wrapper .franchise{
        padding-top: 7rem;
    }

    #wrapper section h1{
        font-size: 5.5rem;
    }
    #wrapper section p{
        font-size: 2rem;
    }
}

@media (min-width: 351px) and (max-width: 575.99px) {
    html{
        font-size: 0.8rem;
    }
    #wrapper .franchise{
        padding-top: 7rem;
    }
    #wrapper section h1{
        font-size: 5.5rem;
    }
    #wrapper section p{
        font-size: 1.8rem;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.99px) {
    html{
        font-size: 0.9rem;
    }
    #wrapper .franchise{
        padding-top: 7rem;
    }
    #wrapper section h1{
        font-size: 5.5rem;
    }
    #wrapper section p{
        font-size: 2.5rem;
    }


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.99px) {
    #wrapper .franchise{
        padding-top: 4rem;
    }

    #wrapper section h1{
        font-size: 5.5rem;
    }
    #wrapper section p{
        font-size: 3rem;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.99px) {
    #wrapper .franchise{
        padding-top: 3rem;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}